#{extends 'main.html' /}

#{messages.setI18nTitle key:'views.users.recoverPassword.title' /}

<div class="view-data">
    
	#{form @resetPassword(), id:'resetPassword'}
		<fieldset>
			<legend>Recuperar Password</legend>

	        #{field 'email'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Email: </label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${email}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}


            <div class="clearfix"></div>
            <div class="buttons">
        		<input type="submit" value="&{'forms.resetpassword.button.label'}">
        		<a href="@{Users.login()}">&{'forms.cancel.label'}</a>
            	 
            </div>
            
		                
		</fieldset>
	 
	#{/form}
    
 </div>
