/* CSS Document */
@import url(common.css);
@import url(header.css);
@import url(footer.css);



body {
	margin: 0px;
	padding: 0px;
	font-family: Arial,Helvetica,sans-serif;
}

/*Page Header Overrides*/
#page-header-wrapper {
    width: auto;
    height: 115px;
    margin: 0px;
    padding: 0px;
    background: url(../images/headerbg.png) repeat-x;
    min-width: 480px;
}
#page-header {
	width: auto;
	margin: auto;
	padding:20px;
	min-width: 480px;
}

#page-header #logo {
    padding-top: 5px;
 
}

#page-header #login {
	float: right;
	padding-top: 5px;
	margin-left:0;
}

/*end Header Overrides*/

/*footer overrides*/
#page-footer-wrapper {
    width: auto;
    height: 80px;
    min-width: 480px;
    background-color: #344349;
}
#page-footer {
    width: auto;
    margin: auto;
    color: #fff;
}
/* end footer overrides*/

/*Start Content stuff*/
#content {
	width: auto;
    margin: auto;
    min-height: 500px;
    min-width: 480px;
    padding: 20px;
    background-color: #f4f5f6;
}

/*Start forms stuff*/
.wizard-form {
	width:65%;
	min-width:288px;
	float: left;
	border: solid 1px #ccc;
	padding: 5px;
	 background-color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard-form form {
    background-color: #ecf7dc;
    margin:4px;
    padding:4px;
    border: solid 1px #becfd4;
        
}
.wizard-form form h2{
   font-size: 1em;
   margin: 1px;  
}
.wizard-form form p{
   margin: 1px;  
}
.wizard-assistent {
	width:30%;
	min-width:180px;
	float: left;
    padding: 5px;
    border: solid 1px #becfd4;
    margin-right:10px;
    background-color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard-assistent h1, .wizard-form h1 {
    font-size: 1.2em;
    border-bottom: solid 1px #becfd4;
}
.wizard-assistent ul {
    list-style: none;
    padding-left: 10px;
}


.wizard-assistent ul li a{
    color: #0066cf;
    text-decoration: none;
}

.wizard-assistent a:hover{

    text-decoration: underline;
}
.wizard-assistent ul li{
    margin-top: 7px;
}

/*end forms stuff*/