#{extends 'main.html' /}

#{messages.setI18nTitle key:'views.users.changePassword.title' /}

#{include 'Users/userOptions.html'/}

<div class="view-data">
    
	#{form @saveNewPassword(), id:'changePassword'}
		<fieldset>
			<legend>Alterar Password</legend>

	        #{field 'originalPassword'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Password actual: </label>
                    <input type="password" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${originalPassword}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}

	        #{field 'newPassword'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Nova Password: </label>
                    <input type="password" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${newPassword}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}

	        #{field 'newPasswordConfirmation'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Confirmar nova password: </label>
                    <input type="password" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${newPasswordConfirmation}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}

            <div class="clearfix"></div>
            <div class="buttons">
        		<input type="submit" value="&{'forms.changepassword.button.label'}">
        		<a href="@{Users.view()}">&{'forms.cancel.label'}</a>
            	 
            </div>
            
		                
		</fieldset>
	 
	#{/form}
    
 </div>
