#{extends 'main.html' /}

#{messages.setI18nTitle key:'views.users.changeResetedPassword.title' /}

<div class="view-data">
    
	#{form @saveNewPasswordAfterReset(), id:'saveNewPasswordAfterReset'}
		<fieldset>
			<legend>Alterar Password</legend>

	        #{field 'newPassword'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Email: </label>
                    <input type="password" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${newPassword}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}


	        #{field 'newPasswordConfirmation'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Email: </label>
                    <input type="password" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${newPasswordConfirmation}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                </div>            
            #{/field}


		#{field 'resetPasswordSecret'}
			<input type="hidden" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${resetPasswordSecret}" />
        #{/field}

            <div class="clearfix"></div>
            <div class="buttons">
        		<input type="submit" value="&{'forms.changepassword.button.label'}">
        		<a href="@{Users.login()}">&{'forms.cancel.label'}</a>
            	 
            </div>
            
		                
		</fieldset>
	 
	#{/form}
    
 </div>


