%{
	currentAction = request.action;
}%
<div id="data-left-menu">
	<ul>
		<li class="${currentAction.equals('Businesses.view')?"selected":""}"><a href="@{Businesses.view(business.id)}">Consultar</a></li>
		
		<li class="${(currentAction.equals('Businesses.edit') || currentAction.startsWith('Businesses.save'))?"selected":""}"><a href="@{Businesses.edit(business.id)}">Editar</a></li>
		<li><a href="">Médicos</a></li>
		<li class="separator"></li>
		<li><a href="@{Businesses.list}">Voltar à lista</a></li>
		
	</ul>
</div>

