#{extends 'main.html' /}

#{set title:'Home' /}

#{set 'moreScripts'}
    #{script 'preregister_partner.js' /}
#{/set}


#{set 'inlineScripts'}
<script type="text/javascript">
    var clinicNames = ['clínica','a clínica', 'da clínica'];
    var officeNames = ['consultório','o consultório', 'do consultório'];
    var names = {'${clinicBusinessTypeLiteral}': clinicNames, '${officeBusinessTypeLiteral}': officeNames};
</script>
#{/set}


#{helperBox title:'Precisa de Ajuda?'}
    <ul>
        <li><a href="#">O que é o mediBooking.com</a></li>
        <li><a href="#">O que é o mediBooking.com</a></li>
        <li><a href="#">O que é o mediBooking.com</a></li>
    </ul>
#{/helperBox}


<div class="wizard-form">
    <h1>Torne-se nosso parceiro</h1>
    <p>Por favor preencha os dados para o registo da sua clínica ou consultório.</p>
    <p>Após recepção deste formulário, um dos nossos colaboradores irá enviar rever toda a informação e entrar em contacto consigo para 
    esclarecimento de qualquer dúvida. Posteriormente o seu registo é aprovado e pode começar a usar o sistema.</p>
    <p class="spacer"></p>
    <!--Start first question-->
    <div class="question">O que melhor define o seu negócio?</div>
    <ul class="answer-multiple-choice">
        <li><input id="${clinicBusinessTypeLiteral}Choice" type="radio" name="businessTypeChoice" value="${clinicBusinessTypeLiteral}" /> <label for="${clinicBusinessTypeLiteral}Choice">Clínica</label></li>
        <li><input id="${officeBusinessTypeLiteral}Choice" type="radio" name="businessTypeChoice" value="${officeBusinessTypeLiteral}" /> <label for="${officeBusinessTypeLiteral}Choice">Consultório</label></li>
    </ul>
    
    
    #{form @savePreRegistration(), id:'preRegisterPartnerForm', style:'display:none'}

        
        #{field 'partner.businessType'}
            <input type="hidden" name="${field.name}" id="${field.name}" value="${partner?.businessType}" />
        #{/field}
     
        <fieldset>
            <legend>Informação sobre <span class="businessTypeWithPronoum"></span></legend>
            <div class="info">Todos os campos marcados com <span class="required-sybmol">*</span> são de preenchimento obrigatório</div>
            
            #{field 'partner.name'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Nome <span class="businessTypeWithPreposition"></span>:<span class="required-sybmol">*</span></label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${partner?.name}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                    
                    
                    <span class="info">O nome pelo qual o seu negócio vai ser conhecido.</span>
                </div>
            #{/field}
            
            #{field 'partner.address.addressLineOne'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Morada :<span class="required-sybmol">*</span></label>
                    <textarea  name="${field.name}" id="${field.name}">${partner?.address?.addressLineOne}</textarea>
                    
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}
                    
                </div>
            #{/field}


            #{field 'partner.address.postalCode'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Código Postal :<span class="required-sybmol">*</span></label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${partner?.address?.postalCode}" />
                    
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                   
                </div>
            #{/field}

            #{field 'partner.address.city'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Localidade :<span class="required-sybmol">*</span></label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${partner?.address?.city}" />
                    
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                    
                </div>
            #{/field}


            #{field 'partner.phone1'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Telefone <span class="required-sybmol">*</span></label>
                    <input type="text" name="${field.name}" id="${field.name}" size="10" maxlength="9" value="${partner?.phone1}" />
                    
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                    
                </div>
            #{/field}

            #{field 'partner.mobile1'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Telemóvel :</label>
                    <input type="text" name="${field.name}" id="${field.name}" size="10" maxlength="9" value="${partner?.mobile1}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                    
                </div>
            #{/field}


            #{field 'partner.email'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Email :</label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${partner?.email}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                    
                </div>
            #{/field}

            #{field 'partner.url'}
                <div class="${field.errorClass}">
                    <label for="${field.name}">Página web :</label>
                    <input type="text" name="${field.name}" id="${field.name}" size="20" maxlength="60" value="${partner?.url}" />
                    #{ifErrors}
                        <span class="error">${field.error}</span>
                    #{/ifErrors}                    
                </div>
            #{/field}
            

        </fieldset>
        <fieldset>
            <legend>Informação sobre <span class="businessTypeWithPronoum"></span></legend>
        </fieldset>  
        <p>
            <input type="submit" value="Register"> <a href="@{index()}">Cancel</a>    
        </p>
    #{/form}
    
    
</div>
